{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">{{ category.name }}</h1>

    {% if request.user.is_staff or request.user.access == 'admin' %}
        <a href="{% url 'categories:add-product' category.id %}" class="btn btn-primary mb-4">Add Product</a>
    {% endif %}

    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'categories:product-detail' product.pk %}">
                            {% if product.product_image %}
                                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'img/no-image.jpg' %}" class="card-img-top" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'categories:product-detail' product.pk %}">{{ product.name }}</a>
                            </h5>
                            <p class="card-text">{{ product.price }}$</p>
                            <a href="{% url 'categories:product-update' product.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                </svg>
                            </a>
                            <a data-product-id="{{ product.pk }}" class="delete-product-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products available in this category.</p>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        $('.delete-product-button').click(function() {
            var productIdToDelete = $(this).data('product-id');
            if (confirm('Are you sure you want to delete this product?')) {
                $.ajax({
                    url: '/product/' + productIdToDelete + '/delete/',
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        console.log('Product deleted successfully!');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error deleting category:', error);
                    }
                });
            }
        });
    });
</script>

{% endblock content %}
